.cartContainers{
    /* background-color: blueviolet; */
    border: 2px solid black;
    overflow-y: auto;
}

#checkoutbtn{
    background-color: #9C7F5B;
    color: white;
}

.boxtitle{
    color: #9C7F5B;
    text-align: center;
    font-weight: bold;
}
#OrderSummary{
    background-color: white;
    box-sizing: border-box;
   
}
.counter{
    width: 100%;
}

.cartimg{
    height: 100px;
    width: 70px;
}

.table tr , .table tr td{
    border: none;
}

.counter{
    width: 75%;
    background-color: #9C7F5B;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 15px;
}
#cartContainer .offcanvasemptycart{
    width: 100%;
    height: 100%;
}
.quant{
    width: 150px;
}

