/* Navbar */
.navbar{
    background: transparent;
}
.logo{
    height: auto;
    width: 10vw;
}
.nav-link{
    color: #9C7F5B;
    font-size: large;
    font-weight: 400;
}

.nav-link .active{
    color: #1F0F08;
}

.btn-brown{
    background-color: #9C7F5B;
    color: #1f1f08;
    border-radius: 5px;
    width: 5vw;
}

/* body */

.bg{
    background-image: url('../img/home.png');
    background-size: cover;
    font-family: 'playfair display';
}

/* login-form */
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right bottom, #9c8569, #55331C); */
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right bottom, #9C7F5B, #55331C); */

    background-image: url("../img/peakpx.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 80vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
}
.card{
    border-top-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
}
.r-rad{
    border-bottom-right-radius: 6rem;
}
.l-rad{
    border-top-left-radius: 6rem;
}
.top-line{
    border-top: 1px solid #1F0F08;
    padding-top: 10px;
}
.bg-bdark{
    background-color: #29150c;
    color: white;
}

.bg-brown{
    background-color: #9C7F5B;
    color: white;
}
.text-brown{
    color: #9C7F5B;
}
.form-control{
    background: transparent; 
    border: none;
    border-bottom: 1px solid rgb(12, 12, 12);  
    color: rgb(10, 10, 10);
}

.form-control::placeholder{
    color: rgb(7, 7, 7);
}
.form-control:focus{
  background: transparent;
  box-shadow: none;
  border-bottom: 1px solid rgb(12, 12, 12);  
}
#success{
    display: none;
}
#signup:hover ,
#login:hover
{
    background-color: #9C7F5B;
    color: #1F0F08;
}

.gradient-form{
    backdrop-filter: blur(5px);
}